body {
    font-family: Verdana, sans-serif;
	background-color: #eee;
	font-size: 16pt;
}

div.bigger {
	font-size: larger;
}

div#biggest {
	font-size: x-large;
}

h1 {
	font-size: 30pt;
	margin-bottom: 15px;
	border:5px;
	border-style: dashed;
}

h2 {
	font-size: 18pt;
	padding: 10px;
}

h3 {
	font-size: 16pt;
	padding: 5px;
}

div {
	padding: 3px;
}

p {
	font-size: 14pt;
}