<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<TITLE>Example HTML file</TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="StyleSheet" type="text/css" href="index.css" />
</HEAD>
<BODY>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
	function myFunction() {
  alert("Happy Christmas "+document.getElementById("name").value);
}
</script>

<div id="root">
	<input type="text" id="input" v-model="name">
	<p>Merry Christmas {{ display }}</p>
	<button @click="clickMethod">Submit</button>
</div>
<script>
	var app = new Vue({
		el: "#root",
		data: {
			name: "",
			display: ""
		},
		methods: {
			clickMethod() {
				this.display = this.name;
			},
		}
	});
</script>	

</BODY>
</HTML>